.about-container {
  padding-top: 58px;
  padding-bottom: 118px;
}
.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 81px;
  @include font(700, 18px, 1.17, 2.30625px);
  text-align: center;
  color: var(--accent-text-color);
  position: relative;
  &::after {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: var(--accent-color);
    left: 447px;
    bottom: -11px;
  }
}
